{% extends 'mediatrack_app/base.html' %}

{% block title %}Dashboard - MediaTrack{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Bienvenido a MediaTrack</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tu Biblioteca de Medios</h5>
                <p class="card-text">Aquí podrás gestionar tus series, películas y animes favoritos.</p>
                <p class="card-text">Próximamente podrás:</p>
                <ul>
                    <li>Agregar nuevos medios a tu biblioteca</li>
                    <li>Marcar episodios como vistos</li>
                    <li>Calificar tus contenidos favoritos</li>
                    <li>Acceder a enlaces de streaming</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 